cogs/__pycache__/basic.cpython-310.pyc
cogs/__pycache__/event.cpython-310.pyc
cogs/__pycache__/react.cpython-310.pyc
core/__pycache__/classes.cpython-310.pyc
setting.json
cogs/__pycache__/smart_can.cpython-310.pyc
